#
# General setup
#
CONFIG_FHANDLE=y
CONFIG_KERNEL_XZ=y

#
# IRQ subsystem
#

#
# Timers subsystem
#
CONFIG_NO_HZ=y
CONFIG_HIGH_RES_TIMERS=y

#
# CPU/Task time and stats accounting
#

#
# RCU Subsystem
#
CONFIG_IKCONFIG=y
CONFIG_IKCONFIG_PROC=y
CONFIG_LOG_BUF_SHIFT=18
CONFIG_CGROUPS=y
CONFIG_RELAY=y
CONFIG_CC_OPTIMIZE_FOR_SIZE=y

#
# Kernel Performance Events And Counters
#

#
# GCOV-based kernel profiling
#
CONFIG_MODVERSIONS=y
CONFIG_MODULE_SRCVERSION_ALL=y

#
# Partition Types
#

#
# IO Schedulers
#

#
# System Type
#

#
# Multiple platform selection
#

#
# CPU Core family selection
#
CONFIG_ARCH_SOCFPGA=y

#
# Processor Type
#

#
# Processor Features
#

#
# Bus support
#

#
# Kernel Features
#
CONFIG_SMP=y
CONFIG_NR_CPUS=2
CONFIG_HAVE_ARM_ARCH_TIMER=y
CONFIG_AEABI=y
CONFIG_CMA=y

#
# Boot options
#
CONFIG_CMDLINE="console=ttyS0,115200"
CONFIG_KEXEC=y

#
# CPU Power Management
#

#
# CPU Frequency scaling
#
CONFIG_CPU_FREQ=y
CONFIG_CPU_FREQ_DEFAULT_GOV_ONDEMAND=y

#
# CPU Idle
#

#
# Floating point emulation
#

#
# At least one emulation must be selected
#
CONFIG_VFP=y
CONFIG_NEON=y

#
# Userspace binary formats
#

#
# Power management options
#

#
# Networking options
#

#
# Network testing
#
CONFIG_CAN=y

#
# CAN Device Drivers
#
CONFIG_CAN_C_CAN=y
CONFIG_CAN_C_CAN_PLATFORM=y

#
# CAN USB interfaces
#

#
# Device Drivers
#

#
# Generic Driver Options
#
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
# CONFIG_STANDALONE is not set
CONFIG_DMA_CMA=y

#
# Bus devices
#
CONFIG_CONNECTOR=y
CONFIG_MTD=y
CONFIG_MTD_CMDLINE_PARTS=y

#
# User Modules And Translation Layers
#
CONFIG_MTD_BLOCK=y

#
# RAM/ROM/Flash chip drivers
#
CONFIG_MTD_CFI=y
CONFIG_MTD_JEDECPROBE=y
CONFIG_MTD_CFI_INTELEXT=y
CONFIG_MTD_CFI_AMDSTD=y
CONFIG_MTD_CFI_STAA=y

#
# Mapping drivers for chip access
#

#
# Self-contained MTD device drivers
#
CONFIG_MTD_M25P80=y

#
# Disk-On-Chip Device Drivers
#
CONFIG_MTD_NAND=y
CONFIG_MTD_NAND_DENALI_DT=y

#
# LPDDR & LPDDR2 PCM memory drivers
#
CONFIG_MTD_SPI_NOR=y
# CONFIG_MTD_SPI_NOR_USE_4K_SECTORS is not set
CONFIG_MTD_UBI=y
CONFIG_MTD_UBI_GLUEBI=y
CONFIG_MTD_UBI_BLOCK=y
CONFIG_OF_OVERLAY=y
CONFIG_OF_CONFIGFS=y

#
# Misc devices
#
CONFIG_SRAM=y

#
# EEPROM support
#
CONFIG_EEPROM_AT24=y
CONFIG_EEPROM_AT25=y

#
# Altera FPGA firmware download module
#

#
# SCSI device support
#
CONFIG_SCSI=y
# CONFIG_SCSI_PROC_FS is not set

#
# SCSI support type (disk, tape, CD-ROM)
#
CONFIG_SCSI_SCAN_ASYNC=y

#
# SCSI Transports
#
# CONFIG_SCSI_LOWLEVEL is not set
CONFIG_TUN=y

#
# CAIF transport drivers
#

#
# Distributed Switch Architecture drivers
#
CONFIG_NET_VENDOR_STMICRO=y
CONFIG_STMMAC_ETH=y
CONFIG_STMMAC_PLATFORM=y
CONFIG_DWMAC_GENERIC=y
CONFIG_DWMAC_SOCFPGA=y
# CONFIG_NET_VENDOR_ARC is not set
# CONFIG_NET_CADENCE is not set
# CONFIG_NET_VENDOR_BROADCOM is not set
# CONFIG_NET_VENDOR_CIRRUS is not set
# CONFIG_NET_VENDOR_EZCHIP is not set
# CONFIG_NET_VENDOR_FARADAY is not set
# CONFIG_NET_VENDOR_HISILICON is not set
# CONFIG_NET_VENDOR_INTEL is not set
# CONFIG_NET_VENDOR_MARVELL is not set
# CONFIG_NET_VENDOR_MICREL is not set
# CONFIG_NET_VENDOR_MICROCHIP is not set
# CONFIG_NET_VENDOR_NATSEMI is not set
# CONFIG_NET_VENDOR_QUALCOMM is not set
# CONFIG_NET_VENDOR_RENESAS is not set
# CONFIG_NET_VENDOR_ROCKER is not set
# CONFIG_NET_VENDOR_SAMSUNG is not set
# CONFIG_NET_VENDOR_SEEQ is not set
# CONFIG_NET_VENDOR_SMSC is not set
# CONFIG_NET_VENDOR_SYNOPSYS is not set
# CONFIG_NET_VENDOR_VIA is not set
# CONFIG_NET_VENDOR_WIZNET is not set

#
# MII PHY device drivers
#
CONFIG_AT803X_PHY=y
CONFIG_SMSC_PHY=y
CONFIG_MICREL_PHY=y

#
# Enable WiMAX (Networking options) to see the WiMAX drivers
#

#
# Input device support
#

#
# Userland interfaces
#

#
# Input Device Drivers
#
CONFIG_KEYBOARD_GPIO=y
CONFIG_INPUT_TOUCHSCREEN=y
CONFIG_TOUCHSCREEN_STMPE=y

#
# Hardware I/O ports
#

#
# Character devices
#
CONFIG_LEGACY_PTYS=y
CONFIG_LEGACY_PTY_COUNT=16

#
# Serial drivers
#
CONFIG_SERIAL_8250=y
CONFIG_SERIAL_8250_CONSOLE=y
CONFIG_SERIAL_8250_NR_UARTS=2
CONFIG_SERIAL_8250_RUNTIME_UARTS=2
CONFIG_SERIAL_8250_DW=y

#
# Non-8250 serial port support
#

#
# I2C support
#
CONFIG_I2C=y
CONFIG_I2C_CHARDEV=y

#
# I2C Hardware Bus support
#

#
# I2C system bus drivers (mostly embedded / system-on-chip)
#
CONFIG_I2C_DESIGNWARE_PLATFORM=y

#
# External I2C/SMBus adapter drivers
#

#
# Other I2C/SMBus bus drivers
#
CONFIG_SPI=y

#
# SPI Master Controller Drivers
#
CONFIG_SPI_GPIO=y
CONFIG_SPI_ALTERA=y
CONFIG_SPI_DESIGNWARE=y

#
# SPI Protocol Masters
#

#
# PPS support
#

#
# PPS clients support
#

#
# PPS generators support
#

#
# PTP clock support
#
CONFIG_GPIOLIB=y
CONFIG_GPIO_SYSFS=y

#
# Memory mapped GPIO drivers
#
CONFIG_GPIO_DWAPB=y

#
# I2C GPIO expanders
#

#
# MFD GPIO expanders
#

#
# SPI or I2C GPIO expanders
#

#
# USB GPIO expanders
#

#
# Native drivers
#
CONFIG_WATCHDOG_CORE=y

#
# Watchdog Device Drivers
#
CONFIG_DW_WATCHDOG=y

#
# USB-based Watchdog Cards
#

#
# Sonics Silicon Backplane
#

#
# Broadcom specific AMBA
#

#
# Multifunction device drivers
#
CONFIG_REGULATOR=y
CONFIG_REGULATOR_FIXED_VOLTAGE=y
CONFIG_MFD_STMPE=y

#
# Graphics support
#

#
# Frame buffer Devices
#
CONFIG_FB=y

#
# Console display driver support
#
CONFIG_FRAMEBUFFER_CONSOLE=y

#
# HID support
#

#
# Special HID drivers
#

#
# USB HID support
#

#
# I2C HID support
#
CONFIG_USB=y
CONFIG_USB_ANNOUNCE_NEW_DEVICES=y

#
# Miscellaneous USB options
#

#
# USB Host Controller Drivers
#

#
# USB Device Class drivers
#

#
# NOTE: USB_STORAGE depends on SCSI but BLK_DEV_SD may
#
CONFIG_USB_STORAGE=y

#
# also be needed; see USB_STORAGE Help for more info
#

#
# USB Imaging devices
#
CONFIG_USB_DWC2=y

#
# Gadget/Dual-role mode requires USB Gadget support to be enabled
#

#
# USB port drivers
#

#
# USB Miscellaneous drivers
#

#
# USB Physical Layer drivers
#
CONFIG_USB_GADGET=y
CONFIG_USB_G_SERIAL=y
CONFIG_MMC=y

#
# MMC/SD/SDIO Card Drivers
#

#
# MMC/SD/SDIO Host Controller Drivers
#
CONFIG_MMC_DW=y
CONFIG_RTC_CLASS=y

#
# RTC interfaces
#

#
# I2C RTC drivers
#

#
# SPI RTC drivers
#

#
# Platform RTC drivers
#

#
# on-CPU RTC drivers
#

#
# Virtio drivers
#

#
# Microsoft Hyper-V guest support
#

#
# Common Clock Framework
#

#
# Hardware Spinlock drivers
#

#
# Clock Source drivers
#

#
# Generic IOMMU Pagetable Support
#

#
# Remoteproc drivers
#

#
# Rpmsg drivers
#

#
# SOC (System On Chip) specific Drivers
#

#
# PHY Subsystem
#

#
# Performance monitor support
#

#
# Android
#

#
# FPGA Configuration Support
#
CONFIG_FPGA=y
CONFIG_FPGA_MGR_SOCFPGA=y
CONFIG_FPGA_BRIDGE=y
CONFIG_FPGA_REGION=y
CONFIG_SOCFPGA_FPGA_BRIDGE=y

#
# Firmware Drivers
#

#
# File systems
#
CONFIG_EXT2_FS=y
CONFIG_EXT3_FS=y
CONFIG_EXT4_FS=y
CONFIG_FANOTIFY=y
CONFIG_AUTOFS4_FS=y
CONFIG_FUSE_FS=y
CONFIG_OVERLAY_FS=y

#
# Caches
#

#
# CD-ROM/DVD Filesystems
#

#
# DOS/FAT/NT Filesystems
#
CONFIG_VFAT_FS=y

#
# Pseudo filesystems
#
CONFIG_UBIFS_FS=y
CONFIG_UBIFS_FS_ADVANCED_COMPR=y
CONFIG_NFS_V4_1=y

#
# Kernel hacking
#

#
# printk and dmesg options
#

#
# Compile-time checks and compiler options
#
CONFIG_DEBUG_INFO=y
CONFIG_DEBUG_FS=y

#
# Memory Debugging
#

#
# Debug Lockups and Hangs
#
CONFIG_DETECT_HUNG_TASK=y

#
# Lock Debugging (spinlocks, mutexes, etc...)
#
CONFIG_STACKTRACE=y

#
# RCU Debugging
#

#
# Runtime Testing
#

#
# Security options
#

#
# Crypto core or helper
#

#
# Authenticated Encryption with Associated Data
#

#
# Block modes
#

#
# Hash modes
#

#
# Digest
#

#
# Ciphers
#

#
# Compression
#

#
# Random Number Generation
#

#
# Certificates for signature checking
#

#
# Library routines
#
CONFIG_XZ_DEC=y
CONFIG_CRC_CCITT=m
CONFIG_CRC_T10DIF=y
CONFIG_CRC_ITU_T=m
CONFIG_CRC7=m
CONFIG_LIBCRC32C=m
CONFIG_FONTS=y
CONFIG_FONT_8x8=y
CONFIG_FONT_8x16=y

CONFIG_RFKILL_LEDS=y
CONFIG_OF_UNITTEST=y
CONFIG_INPUT_LEDS=y
CONFIG_GPIO_ALTERA=y

CONFIG_NEW_LEDS=y
CONFIG_LEDS_CLASS=y

#
# LED drivers
#
CONFIG_LEDS_GPIO=y

#
# LED Triggers
#
CONFIG_LEDS_TRIGGERS=y
CONFIG_LEDS_TRIGGER_HEARTBEAT=y
CONFIG_LEDS_TRIGGER_CPU=y
CONFIG_LEDS_TRIGGER_GPIO=y
